<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Студенти</title>
  </head>
  <body>
    <%- include("partials/header") %>

    <table border="1" width="100%">
      <tr>
        <th>Име</th>
        <th>Презиме</th>
        <th>Просек</th>
        <th>Акција</th>
      </tr>

      <% data.forEach((student, index ) => { %>
      <tr>
        <td><%= student.ime %></td>
        <td><%= student.prezime %></td>
        <td><%= student.prosek %></td>
        <td>
          <a href="/brishi?index=<%= index %>">Избриши</a>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
